@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #f0f5f0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08); /* Ombra più delicata */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  
}

.navbar-container {
  max-width: 1300px;
  margin: 0 auto; /* Centra il contenitore orizzontalmente */
  padding: 0 2rem; /* Aggiunge spazio ai lati */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px; /* Altezza controllata e ragionevole */
}

.logo img {
  height: 80px; /* Dimensione del logo più realistica */
  width: auto;
  /* l'immagine potrebbe apparire leggermente schiacciata, 
     impostare `vertical-align: middle;` può aiutare */
  vertical-align: middle;
}

.nav-links a {
  margin-left: 40px;
  text-decoration: none;
  color:#3d4c41;
  font-weight: 600; /* Leggermente meno pesante di "bold" */
  font-size: 1.1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #4a6853;
}

.icons a {
  margin-left: 20px;
}

.icons img {
  height: 26px; /* Dimensioni delle icone più adatte a una navbar */
  width: 26px;
  opacity: 0.7; /* Rende le icone un po' più delicate */
  transition: opacity 0.3s, transform 0.2s;
}

.icons img:hover {
  opacity: 1;
  transform: scale(1.1);
}